<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body>
<h3>Xóa thành phố</h3>
<form th:action="@{/city/delete}" method="post" th:object="${city}">
    <p>Bạn có chắc muốn xóa thành phố: <span th:text="${city.name}"></span></p>
    <input id="id" type="hidden" th:field="*{id}">
        <input type="hidden" id="idDelete" name="idDelete" value="idDelete">
        <input type="submit" class="btn btn-sm btn-danger" value="Xóa">
    <a th:href="@{/city}">Thoát</a>
</form>
</body>
<script>
    let id = +document.getElementById("id").value;
    document.getElementById("idDelete").value = id;
</script>
</html>